@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes.css';

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: calc(100vh - 180px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-light hover:text-primary-dark text-white px-4 py-0.5 rounded font-bold;
}

.btn-primary-lg {
  @apply bg-primary hover:bg-primary-light hover:text-primary-dark text-white px-4 py-2 rounded font-bold;
}

.btn-secondary {
  @apply bg-gray-800 hover:bg-gray-700 text-gray-200 px-4 py-0.5 rounded font-bold;
}


.btn-secondary-lg {
  @apply bg-gray-800 hover:bg-gray-700 text-gray-200 px-4 py-2 rounded font-bold;
}

.btn-icon {
  @apply text-primary-light hover:text-indigo-500;
}

.input {
  @apply mt-2 appearance-none block bg-site-background  w-full px-3 py-2 border-site-background-light border-2 rounded-md shadow-sm placeholder-gray-600 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm;
}


.input-basic {
  @apply appearance-none block bg-site-background  w-full px-3 py-2 border-site-background-light border-2 placeholder-gray-600 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm;
}
.input-with-icon {
  @apply appearance-none block bg-site-background  w-full pl-12 pr-3 py-2 border-site-background-light border-2 rounded-md shadow-sm placeholder-gray-600 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm;
}

.checkbox {
  @apply h-4 w-4 text-primary focus:ring-indigo-500 border-site-background-light border-2 bg-site-background-light rounded;
}

.donut-innertext {
  @apply text-white text-center;
}