@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black text-gray-100;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  min-height: calc(100vh - 180px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply bg-indigo-500 hover:bg-indigo-400 text-white px-4 py-0.5 rounded font-bold;
}

.btn-primary-lg {
  @apply bg-indigo-500 hover:bg-indigo-400 text-white px-4 py-2 rounded font-bold;
}

.btn-secondary {
  @apply bg-gray-800 hover:bg-gray-700 text-gray-200 px-4 py-0.5 rounded font-bold;
}

.btn-icon {
  @apply text-indigo-400 hover:text-indigo-500;
}

.input {
  @apply mt-2 appearance-none block bg-black  w-full px-3 py-2 border-gray-700 border-2 rounded-md shadow-sm placeholder-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}


.input-basic {
  @apply appearance-none block bg-black  w-full px-3 py-2 border-gray-700 border-2 placeholder-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}
.input-with-icon {
  @apply appearance-none block bg-black  w-full pl-12 pr-3 py-2 border-gray-700 border-2 rounded-md shadow-sm placeholder-gray-600 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.checkbox {
  @apply h-4 w-4 text-indigo-400 focus:ring-indigo-500 border-gray-700 border-2 bg-gray-200 dark:bg-gray-900 rounded;
}